<div class='list list-inset' id='drop-info-window' >

  <!-- <div class='iw-title'>Point of Interest</div> -->
<!-- icons of good or bad to based on user select TODO: get Good/Bad Options working-->
  <label class="item item-input">
    <ion-radio ng-model="$parent.$parent.currentPOI.type" value="good"><i class="icon ion-happy"></i></ion-radio>
    <ion-radio ng-model="$parent.$parent.currentPOI.type" value="bad"><i class="icon ion-sad"></i></ion-radio>
  </label>
  <label class="item item-input item-stacked-label">
    <input type="text" placeholder='Title' ng-model="$parent.$parent.currentPOI.title">
  </label>
  <label class="item item-input item-stacked-label">
    <input type="text" placeholder='Description' ng-model="$parent.$parent.currentPOI.description">
  </label>
  <div class="row">
    <button class="button col block button-dark" ng-click="$parent.$parent.savePOI()">Add POI</button>
  </div>
</div>
