<div class='list list-inset' id='drop-info-window'>
  <label class="item item-input">
    <ion-radio ng-model="$parent.$parent.currentPOI.type" value="good"><i class="icon ion-happy"></i></ion-radio>
    <ion-radio ng-model="$parent.$parent.currentPOI.type" value="bad"><i class="icon ion-sad"></i></ion-radio>
  </label>
  <label class="item item-input item-stacked-label">
    <input type="text" placeholder='Title' ng-model="$parent.$parent.currentPOI.title">
  </label>
  <label class="item item-input item-stacked-label">
    <input type="text" placeholder='Description' ng-model="$parent.$parent.currentPOI.description">
  </label>
  <div class="row">
    <button class="button col block button-dark" ng-click="$parent.$parent.savePOI()">Add POI</button>
  </div>
</div>

<!-- 
  Seems a bit of a hack to use $parent.$parent: http://stackoverflow.com/questions/26135898/angular-google-maps-info-window-html
  May need own controller (or figure out how to work with modal for addPOI.html)
-->

