<ion-view>
  <ion-content>
    <div id="map">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options"></ui-gmap-google-map>
    </div>
  </ion-content>
  <!-- Global bottom nav menu for app -->
  <ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title="Add Destination" icon="ion-android-walk" href="#/tab/addDestination">
      <ion-nav-view name="destination-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Add POI" icon="ion-earth" href="#/menu/addPOI" on-select="getCurrentPosition()">
      <ion-nav-view name="poi-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>