.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.larger {
  font-size: 2em;
}
@media (min-width: 680px) {
  .addPOI {
    margin: 0 auto;
    width: 60%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  } 
}

.poi-button {
  width: 50%;
}

#drop-info-window {
  width: 230px !important;
  height: 240px !important;
}

