.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.larger {
  font-size: larger;
}

@media (min-width: 680px) {
  .addPOI {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  } 
}