/* Empty. Add your own CSS if you like */
/*#map {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;  
}*/
.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
/*ui-gmap-google-map {
  display: block;
  width: 100%;
  height: 100%;
}*/
.scroll {
  height: 100%;
}
